#player-one {
  display: none;
}

#player-two {
  display: none;
}

.show-scores-1 {
  display: none;
}

.show-scores-1 {
  display: none;
}

.container {
  text-align: center;
}

.container h1 {
  margin: 5%;
  font-size: 50pt;
  letter-spacing: 2pt;
}

body {
  background-color: #FDCA40;
  font-family: helvetica;
}
